body {
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
	font-size: 24px;
	font-weight: bold;
	padding: 20px 0;
}

.desc-header {
	font-size: 16px;
	padding: 0 20px;
}

.btn {
	border-radius: 0;

	&:focus {
		outline: none;
	}
}

.list {
	max-width: 1920px;
	margin: 0 auto;
}

#btn-open-nav {
	position: fixed;
	z-index: 1;
	top: 10px;
	left: 10px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #351b42;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
	color: #fff;
	font-size: 24px;

	.content {
		max-width: 1280px;
		margin: 0 auto;

		img {
			display: none;
		}

		#btn-close-nav {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #000;
		}

		.nav {
			.navigator {
				a {
					color: #fff;

					&:active,
					&:focus,
					&:hover {
						outline: none;
						text-decoration: none;
						background-color: transparent;
					}
				}
			}

			.dot {
				display: none;
			}
		}
	}
}

.main {
	.padding-part {
		padding: 30px 0;
	}

	.banner {
		height: 100vh;

		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	.projects {
		background-image: url('../images/bc/prj.png');
		background-repeat: no-repeat;

		.desc-header {
			color: #917a61;
		}

		.prj-type {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			max-width: 320px;
			padding: 20px 0;
			font-size: 16px;
			margin: 0 auto;

			div {
				cursor: pointer;
			}

			div.active {
				color: #e65231;
			}

		}

		.list {

			.prj {
				position: relative;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 200px;
				}

				.info {
					position: absolute;
					right: 15px;
					bottom: 0;
					left: 15px;
					width: calc(~"100% - 30px");
					height: 80px;
					background-color: rgba(0, 0, 0, .6);
					color: #fff;
					display: flex;
					flex-direction: column;
					justify-content: center;
					line-height: 24px;

					.desc {
						font-size: 14px;
					}

					.price {
						opacity: .5;
					}
				}
			}
		}
	}

	.production {
		background-image: url('../images/bc/prd.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;

		.list {
			padding: 30px 0;

			.prd-item {
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 260px;
				}

			}
		}

		.all-prd {
			cursor: pointer;
		}
	}

	.services {
		background-image: url('../images/bc/sv.png');
		background-repeat: no-repeat;
	    border-bottom: 1px dashed #999;

	    .desc-header {
			color: #917a61;
		}

		.list {
			padding: 30px 0;

			.sv-item {
				img {
					width: 100%;
				}

				.info {
					height: 100px;
					background-color: #333;
					color: #fff;
					line-height: 24px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-bottom: 10px;

					.head {
						font-size: 15px;
					}

					.content {
						opacity: .5;
					}
				}
			}
		}
	}

	.team {
		background-image: url('../images/bc/t.png');
		background-repeat: no-repeat;

		.list {
			padding: 30px 0;
			position: relative;
			overflow: hidden;

			.team-back, .team-next {
				position: absolute;
				top: 0;
				z-index: 1;
				color: #000;
				height: 100%;
				padding: 0 5px;
				line-height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				cursor: pointer;

				&:hover {
					background-color: rgba(153, 153, 153, .5);
					color: #fff;
				}
			}

			.team-next {
				right: 0;
			}

			.team-slider {
				display: inline-flex;
				transition: .5s;

				.member {
					padding: 0 30px;
					img {
						width: 260px;
						height: 260px;
						border-radius: 50%;
						margin-bottom: 10px;
					}

					.info {
						.head {
							font-size: 15px;
						}

						.content {
							color: #b76530;
						}
					}
				}
			}
		}
	}

	.news {
		background-image: url('../images/bc/web.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;

		.list {
			padding: 30px 0;

			.story {
				margin-bottom: 10px;

				.pic {
					position: relative;

					img {
						width: 100%;
						height: 180px;
					}
					
					.time {
						position: absolute;
						bottom: 0;
						right: 0;
						background-color: #333;
						width: 120px;
						padding: 10px 0;
					}
				}

				.pic-title {
					font-size: 15px;
					margin-top: 10px;
					padding-bottom: 20px;
				}
			}
		}
	}

	.inspiration {
		background-image: url('../images/bc/isprt.png');
		background-repeat: no-repeat;
		background-size: cover;

		.desc-header {
			color: #917a61;
		}

		.list {
			padding: 30px 0;

			.inspiration-pic {
				margin-bottom: 10px;

				&:nth-child(odd) {
					img {
						width: 100%;
						height: 500px;
					}
				}

				&:nth-child(even) {
					img {
						width: 100%;
						height: 250px;
					}
				}
			}
		}
	}

	.contact {
		background-image: url('../images/bc/ct.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		color: #fff;
		padding-bottom: 150px;

		.ct-info {
			max-width: 960px;
			margin: 0 auto;
			padding: 20px 0;

			.location, .phone, .email {
				margin-bottom: 25px;

				i {
					margin-bottom: 10px;
				}
			}
		}

		.msg {
			max-width: 1280px;
			margin: 0 auto;

			input, textarea {
				margin-bottom: 10px;
				border-radius: 0;
			}

			textarea {
				resize: none;
			}

			button {
				float: left;
				background-color: rgba(153, 153, 153, .5);
				border: none;
				padding: 10px;
				border-radius: 3px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.header {
		font-size: 36px;
	}

	.desc-header {
		font-size: 24px;
	}

	#btn-open-nav {
		display: none;
	}

	.sidenav {
		width: 100%;
		height: 100px;
		padding-top: 0;
		position: fixed;

		.content {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;

			#btn-close-nav {
				display: none;
			}

			img {
				display: block;
				height: 50%;
				padding: 0 5%;
			}

			.nav {
				float: right;
				width: 100%;
				padding: 0 1%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				font-size: 13px;

				.navigator.active {
					border-bottom: 1px dashed #fff;
				}

				.dot {
					display: block;

					i {
						font-size: 5px;
						line-height: 18px;
					}
				}
			}
		}
	}

	.main {
		.projects {
			background-position: center top;
			background-size: contain;
		}

		.production {
			background-position: center top;
			background-size: contain;
			background-color: #382143;

			.list {
				.prd-item:nth-child(3) {
					display: none;
				}
			}
		}

		.services {
			background-position: center top;
			background-size: contain;

			.list {
				.sv-item:nth-child(4) {
					display: none;
				}
			}
		}

		.team {
			background-position: center top;
			background-size: contain;
		}

		.news {
			background-position: center top;
			background-size: contain;
			background-color: #382143;

			.list {
				.story:nth-child(4) {
					display: none;
				}
			}
		}

		.inspiration {
			background-position: center 13%;
			background-size: contain;

			.list {
				.inspiration-pic {
					padding: 0;

					&:nth-child(4) {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.sidenav {
		.content {
			.nav {
				padding: 0 5%;
				font-size: 18px;

				.dot {
					i {
						line-height: 26px;
					}
				}
			}
		}
	}

	.main {
		.production {
			.list {
				.prd-item:nth-child(3) {
					display: block;
				}
			}
		}

		.services {
			.list {
				.sv-item:nth-child(4) {
					display: block;
				}
			}
		}

		

		.news {
			.list {
				.story:nth-child(4) {
					display: block;
				}
			}
		}

		.inspiration {
			.list {
				.inspiration-pic:nth-child(4) {
					display: block;
				}
			}
		}
	}
}